In [1]:
# movie data import and index : user , column : movie , value : rating
import pandas as pd
import numpy as np

movies_df = pd.read_csv('../datasets/movies_small.csv')
ratings_df = pd.read_csv('../datasets/ratings_small.csv')

In [2]:
movies_df.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [4]:
movies_df.shape

(9742, 3)

In [3]:
ratings_df.head(3)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

In [10]:
ratings_df.drop('timestamp' , axis=1 , inplace=True)

In [11]:
ratings_df.shape

(100836, 3)

In [12]:
# ratings_df and movies_df merge 
movie_rating_df = pd.merge(movies_df , ratings_df , on='movieId')

In [13]:
movie_rating_df.head(3)

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5

In [14]:
# pivot_table을 활용한  index : user , column : movie , value : rating DataFrame
user_movie_rating_df = movie_rating_df.pivot_table(values='rating' , index='userId' , columns='title')

In [15]:
user_movie_rating_df.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
user_movie_rating_df.fillna(0 , inplace=True)

In [17]:
user_movie_rating_df.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
# sparse matrix -> csr_matrix 이용
from scipy.sparse import csr_matrix

user_movie_rating_mat = csr_matrix(user_movie_rating_df.values)

In [23]:
# 방법 1 : cosine_similarity 
from sklearn.metrics.pairwise import cosine_similarity

cos_sim = cosine_similarity(user_movie_rating_mat)

In [26]:
len(cos_sim[0])

610

In [28]:
enumerate(cos_sim[0])

In [32]:
# 유사도가 가장큰 순서데로 5명의 유저 추출
result = list(enumerate(cos_sim[0]))
result = sorted(result, key=lambda x: x[1] , reverse=True)
user_sim_result = [x[0] for x in result[1:6]]
user_sim_result

[265, 312, 367, 56, 90]

##### 타겟 유저가 보지않은 영화를 비슷한유저가 본 영화 모두 추천

In [40]:
#타겟 유저가 본영화
user_movie = [x[0] for x in enumerate(list(user_movie_rating_df.iloc[0 , :])) if x[1] !=0 ]
user_movie

[48,
 66,
 202,
 245,
 325,
 327,
 346,
 405,
 420,
 440,
 563,
 674,
 744,
 746,
 787,
 827,
 836,
 840,
 917,
 925,
 946,
 983,
 1025,
 1048,
 1062,
 1085,
 1110,
 1158,
 1204,
 1227,
 1284,
 1337,
 1535,
 1687,
 1789,
 1828,
 1829,
 1839,
 1924,
 1925,
 2047,
 2139,
 2221,
 2348,
 2388,
 2411,
 2464,
 2528,
 2534,
 2608,
 2619,
 2622,
 2638,
 2657,
 2663,
 2681,
 2734,
 2747,
 2789,
 2836,
 2885,
 2922,
 2940,
 3000,
 3011,
 3092,
 3158,
 3184,
 3252,
 3258,
 3279,
 3281,
 3328,
 3417,
 3418,
 3428,
 3474,
 3489,
 3530,
 3548,
 3564,
 3570,
 3616,
 3634,
 3655,
 3656,
 3661,
 3662,
 3678,
 3845,
 3890,
 3938,
 4010,
 4017,
 4106,
 4176,
 4200,
 4337,
 4344,
 4345,
 4438,
 4488,
 4516,
 4653,
 4654,
 4662,
 4766,
 4808,
 4854,
 4867,
 4882,
 4958,
 4992,
 5029,
 5149,
 5157,
 5163,
 5186,
 5203,
 5306,
 5324,
 5423,
 5488,
 5512,
 5535,
 5582,
 5604,
 5711,
 5780,
 5782,
 5856,
 5862,
 5882,
 6035,
 6057,
 6073,
 6181,
 6255,
 6580,
 6627,
 6632,
 6667,
 6670,
 6761,
 6808,
 6856,
 6857,
 6865,
 6920,
 6944,
 7019,
 7078,
 7079,
 7100,
 7172,
 7173,
 7180,
 7182,
 7190,
 7205,
 7211,
 7213,
 7215,
 7233,
 7292,
 7311,
 7314,
 7322,
 7391,
 7421,
 7448,
 7482,
 7523,
 7557,
 7558,
 7602,
 7625,
 7680,
 7719,
 7753,
 7771,
 7794,
 7811,
 7857,
 7882,
 7891,
 7894,
 7998,
 8001,
 8002,
 8003,
 8010,
 8013,
 8184,
 8185,
 8234,
 8240,
 8289,
 8343,
 8344,
 8367,
 8378,
 8391,
 8664,
 8712,
 8725,
 8740,
 8820,
 8823,
 8850,
 8871,
 8875,
 8895,
 8937,
 9000,
 9119,
 9164,
 9307,
 9328,
 9340,
 9352,
 9433,
 9476,
 9484,
 9485,
 9510,
 9537,
 9545,
 9615,
 9656,
 9661,
 9717]

In [42]:
# 유사 유저가 본영화
other_user_movie = []
for i in user_sim_result:
    result = [x[0] for x in enumerate(list(user_movie_rating_df.iloc[i , :])) if x[1] !=0 ]
    other_user_movie += result
list(set(other_user_movie))

[2048,
 2049,
 6,
 4106,
 2059,
 11,
 2061,
 6155,
 8206,
 4107,
 2064,
 4114,
 4113,
 2070,
 2072,
 2077,
 2079,
 6176,
 2083,
 4131,
 4134,
 2043,
 2086,
 4137,
 8234,
 4138,
 8231,
 2095,
 2099,
 60,
 63,
 6214,
 74,
 75,
 4173,
 6222,
 4176,
 2139,
 6236,
 2143,
 7753,
 8289,
 8290,
 2150,
 2151,
 8295,
 6247,
 7755,
 2158,
 2159,
 6255,
 6260,
 4222,
 8319,
 4231,
 136,
 6281,
 6282,
 8328,
 2188,
 6286,
 145,
 4241,
 8341,
 2197,
 2198,
 8344,
 6295,
 6297,
 2208,
 2212,
 2215,
 6311,
 8360,
 2218,
 8363,
 8361,
 2221,
 6317,
 8367,
 2224,
 2225,
 178,
 2226,
 4279,
 2233,
 8378,
 444,
 2237,
 2238,
 2240,
 2245,
 8391,
 4296,
 200,
 202,
 4300,
 6349,
 207,
 208,
 210,
 4309,
 216,
 2264,
 223,
 224,
 2274,
 2276,
 2277,
 2488,
 6377,
 234,
 4332,
 4334,
 4337,
 6389,
 245,
 2293,
 4344,
 4345,
 6394,
 6398,
 8448,
 2306,
 2308,
 261,
 2310,
 4367,
 2321,
 4369,
 6418,
 2327,
 282,
 285,
 290,
 291,
 292,
 296,
 8488,
 298,
 2348,
 4398,
 2350,
 6454,
 8509,
 4414,
 2369,
 4417,
 2372,
 325,
 327,
 329,
 332,
 333,
 334,
 8526,
 2380,
 4435,
 2388,
 4436,
 4438,
 4437,
 2387,
 2394,
 2395,
 2396,
 4445,
 9025,
 2401,
 4453,
 6501,
 2411,
 2413,
 6509,
 2415,
 2416,
 6511,
 2418,
 6513,
 370,
 6588,
 4476,
 6525,
 6529,
 4481,
 5776,
 390,
 4488,
 6539,
 2444,
 405,
 4501,
 2456,
 4509,
 4510,
 4511,
 2464,
 4512,
 6560,
 6564,
 4517,
 2471,
 427,
 2478,
 6578,
 435,
 4531,
 4532,
 6582,
 2487,
 4533,
 434,
 6580,
 6587,
 8636,
 2493,
 8638,
 6585,
 439,
 4545,
 4546,
 2499,
 8644,
 4549,
 2500,
 455,
 6595,
 4551,
 6598,
 8652,
 2511,
 6607,
 466,
 4562,
 470,
 8664,
 2521,
 473,
 8668,
 2528,
 8672,
 4576,
 6627,
 2531,
 8676,
 2536,
 6632,
 8683,
 494,
 6641,
 8690,
 6646,
 6648,
 6649,
 8700,
 4606,
 514,
 515,
 6661,
 2568,
 6667,
 2572,
 6668,
 6670,
 8719,
 8716,
 4624,
 8720,
 6675,
 8725,
 6681,
 4634,
 540,
 6691,
 8740,
 6693,
 8742,
 2599,
 6695,
 4645,
 4650,
 555,
 4655,
 2608,
 563,
 8756,
 8757,
 4662,
 565,
 8760,
 2616,
 4666,
 6715,
 6716,
 4669,
 6717,
 8767,
 2624,
 2619,
 579,
 6727,
 6728,
 8777,
 8779,
 6733,
 2638,
 4687,
 6735,
 591,
 8786,
 595,
 2641,
 4689,
 6740,
 6743,
 600,
 2648,
 601,
 6747,
 6744,
 2645,
 4702,
 4697,
 2656,
 6745,
 8793,
 4707,
 613,
 2663,
 6761,
 6762,
 4714,
 6769,
 2676,
 8820,
 631,
 6775,
 8825,
 2681,
 4737,
 2690,
 4738,
 8836,
 8838,
 6791,
 8843,
 2703,
 8850,
 4757,
 8853,
 6808,
 668,
 6812,
 4766,
 4767,
 8862,
 2718,
 674,
 675,
 4772,
 8869,
 4774,
 6823,
 8871,
 8872,
 6826,
 8875,
 6827,
 6829,
 8878,
 8879,
 2736,
 689,
 4785,
 8885,
 4790,
 697,
 2747,
 2749,
 8895,
 6848,
 706,
 2757,
 6856,
 2761,
 4808,
 715,
 8907,
 2766,
 8911,
 6865,
 2770,
 6868,
 2773,
 6871,
 6872,
 2779,
 2784,
 2785,
 2786,
 6883,
 2788,
 4838,
 744,
 8937,
 745,
 746,
 6889,
 749,
 753,
 8946,
 8947,
 755,
 8949,
 4854,
 8950,
 4856,
 761,
 2810,
 8954,
 8958,
 4867,
 6916,
 6915,
 6917,
 4871,
 6920,
 2826,
 2827,
 4876,
 2828,
 4882,
 2836,
 8980,
 8982,
 2838,
 4888,
 2842,
 6944,
 2848,
 8995,
 6948,
 805,
 806,
 9000,
 6955,
 812,
 4909,
 6960,
 6961,
 2867,
 9015,
 4919,
 6968,
 2874,
 827,
 9021,
 9022,
 831,
 9024,
 2880,
 2881,
 834,
 836,
 2885,
 6980,
 4933,
 840,
 839,
 2890,
 6982,
 6985,
 6989,
 6991,
 9039,
 2901,
 9045,
 6999,
 2905,
 861,
 4958,
 866,
 4964,
 2917,
 7018,
 4971,
 7019,
 2922,
 2923,
 4972,
 880,
 4978,
 9075,
 2931,
 9077,
 2934,
 887,
 7032,
 4985,
 2940,
 9084,
 7043,
 7044,
 2950,
 2951,
 904,
 7049,
 7050,
 909,
 9102,
 5005,
 7054,
 2961,
 7060,
 7065,
 7067,
 925,
 2974,
 9119,
 7069,
 7073,
 5029,
 5030,
 7079,
 5031,
 5032,
 9135,
 5041,
 946,
 2993,
 2997,
 9143,
 7096,
 3000,
 9144,
 5051,
 3007,
 3008,
 961,
 5058,
 3011,
 3013,
 966,
 965,
 5062,
 969,
 7113,
 9163,
 9164,
 3019,
 5074,
 5075,
 7125,
 7127,
 987,
 9180,
 9182,
 9183,
 992,
 5087,
 3043,
 997,
 3048,
 3051,
 7147,
 7149,
 3054,
 1007,
 1008,
 5103,
 1010,
 3059,
 1009,
 9205,
 3063,
 3065,
 7161,
 3067,
 7165,
 3069,
 1023,
 1025,
 9219,
 1028,
 7173,
 3078,
 5127,
 9224,
 7177,
 7178,
 3083,
 7180,
 3085,
 7184,
 7185,
 5138,
 5139,
 3092,
 5141,
 1046,
 7190,
 1048,
 7192,
 7193,
 3098,
 1052,
 5149,
 7196,
 9247,
 1056,
 9250,
 5155,
 9251,
 7205,
 1062,
 5157,
 3112,
 9252,
 3114,
 7211,
 5163,
 1069,
 1070,
 7213,
 7215,
 7216,
 1068,
 3117,
 7220,
 7217,
 7219,
 9270,
 1082,
 5181,
 1087,
 3135,
 7233,
 1089,
 5186,
 7236,
 7237,
 1091,
 3136,
 7240,
 7241,
 3138,
 3147,
 3148,
 3151,
 9297,
 5202,
 5203,
 5204,
 9298,
 3158,
 1106,
 5205,
 5206,
 1115,
 1116,
 7260,
 9307,
 1118,
 7259,
 7265,
 9308,
 5219,
 3172,
 7268,
 5224,
 1129,
 4685,
 3179,
 5229,
 7279,
 7283,
 3187,
 7287,
 1144,
 1145,
 1146,
 9339,
 3196,
 7293,
 7292,
 1151,
 7295,
 7299,
 3204,
 9349,
 1158,
 7303,
 9352,
 7305,
 9353,
 3215,
 7311,
 1167,
 7314,
 3216,
 7318,
 3226,
 9371,
 3229,
 7327,
 3237,
 9381,
 8785,
 3245,
 7341,
 3247,
 3248,
 3252,
 3254,
 3255,
 5304,
 3258,
 5306,
 7365,
 1223,
 7368,
 1226,
 1227,
 5324,
 5325,
 9422,
 1231,
 3279,
 3281,
 3282,
 9427,
 7377,
 1240,
 9433,
 1061,
 1244,
 3292,
 5340,
 7391,
 1247,
 1249,
 9442,
 1243,
 1253,
 5350,
 5351,
 5354,
 1262,
 7410,
 7412,
 1269,
 1270,
 3320,
 1272,
 5372,
 7421,
 1278,
 5374,
 3328,
 9471,
 1284,
 9477,
 7428,
 1287,
 9476,
 1290,
 9483,
 9484,
 9485,
 1292,
 3106,
 7439,
 1297,
 1298,
 5396,
 3350,
 7447,
 7446,
 7450,
 3356,
 5404,
 3357,
 7454,
 9502,
 1316,
 1322,
 5423,
 9525,
 1337,
 1338,
 5436,
 9534,
 1344,
 9537,
 1346,
 3395,
 1345,
 9542,
 9545,
 3402,
 3403,
 1356,
 3406,
 7503,
 5459,
 3413,
 1366,
 1367,
 3415,
 3418,
 1372,
 3420,
 5471,
 5474,
 7523,
 3428,
 3429,
 7528,
 5481,
 5482,
 1387,
 9581,
 5487,
 5488,
 7535,
 3441,
 1395,
 5491,
 3447,
 1403,
 5500,
 1410,
 7554,
 5510,
 5512,
 5514,
 1420,
 7565,
 9613,
 9615,
 3474,
 9621,
 7574,
 7577,
 1434,
 3485,
 5535,
 3489,
 9638,
 1447,
 7591,
 7593,
 1450,
 3499,
 3500,
 3501,
 3503,
 9647,
 3139,
 1459,
 3508,
 5555,
 3510,
 7210,
 9656,
 9657,
 9658,
 3515,
 5562,
 5564,
 5572,
 3526,
 3529,
 3530,
 7625,
 1482,
 5581,
 5582,
 5583,
 3539,
 5588,
 1496,
 1498,
 5595,
 9690,
 1501,
 1502,
 9697,
 3555,
 7653,
 3558,
 5607,
 3564,
 3570,
 9717,
 5623,
 7673,
 7680,
 3586,
 3589,
 5638,
 3590,
 1541,
 1545,
 1546,
 5641,
 5645,
 7694,
 7697,
 7698,
 5649,
 3603,
 3606,
 1560,
 3611,
 7711,
 1568,
 1569,
 5669,
 1574,
 7719,
 7718,
 5677,
 1584,
 7729,
 3634,
 7731,
 5680,
 7730,
 1593,
 3642,
 3643,
 5693,
 1598,
 5696,
 3649,
 1602,
 3655,
 3656,
 7752,
 5706,
 1611,
 5707,
 7757,
 3661,
 5711,
 3662,
 5709,
 7761,
 5715,
 7763,
 5720,
 1624,
 7770,
 7771,
 9279,
 1630,
 7777,
 3687,
 7787,
 1644,
 3696,
 7794,
 7799,
 7805,
 7811,
 5764,
 3717,
 7819,
 1676,
 1675,
 3728,
 7825,
 3729,
 1683,
 5780,
 3733,
 5782,
 5781,
 1684,
 1687,
 1689,
 5783,
 7837,
 1693,
 3742,
 5791,
 3754,
 1708,
 1713,
 3763,
 3766,
 3769,
 1724,
 7875,
 3782,
 1736,
 7881,
 7882,
 7887,
 ...]